<div class="container">
  <video
    src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4"
    autoplay="true"
    id="videos"
  />
</div>

{% schema %}
  {
    "name": "Carousel",
    "settings": [],
    "blocks": [
      {
        "type": "video",
        "name":"Video", 
        "settings": [
          {
            "type": "url",
            "id": "src",
            "label": "Video source"
          }
        ]}
    ]
  }
{% endschema %}

{% stylesheet %}
  .container {
    background-color: black;
    width: 100%;
    padding-bottom: 200%;
    position: relative;
  }
  .container video {
    position:absolute;
    width: 100%;
    height: 100%;
  }

{% endstylesheet %}

{% javascript %}
  const videoSources = [
  "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4",
  "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4",
  "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4"
];

let index = 0; // global
const videoCount = videoSources.length;
const element = document.getElementById("videos");

function playVideo(videoNum) {
  element.setAttribute("src", videoSources[videoNum]);
  element.setAttribute("type", "video/mp4");
  element.autoplay = true;
  element.load();
  element.play();
}
document
  .getElementById("videos")
  .addEventListener("ended", myFunctionHandle, false);

function myFunctionHandle() {
  index++;
  if (index === videoCount) {
    index = 0;
    playVideo(index);
  } else {
    playVideo(index);
  }
}

{% endjavascript %}